$bodyBackground: #f3f3f3;
$primary: #ed502f;
body {
  background: $bodyBackground;
  font-family: open sans, sans-serif;
}

header {
  background: white;
  .header-top {
    border-bottom: 1px solid #e4e4e4;
    a {
      color: #969696;
      transition: color 200ms;
      font-size: 0.75rem;
      font-weight: 700;
      &:hover {
        color: #222;
      }
    }
    .social-media {
      .nav-link {
        font-size: 1.3rem;
      }
    }
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 170px;
    }
    .dark-mode {
      padding: 0;
      width: 34px;
      height: 34px;
    }
  }
  .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1;

    .search-icon {
      position: absolute;
      top: 50%;
      left: 12px;
      transform: translateY(-50%);
      color: #969696;
      opacity: 0.3;
      font-size: 1.2rem;
    }
    input {
      padding-left: 2.5em;
      padding-right: 4em;
      border: 2px solid #e4e4e4;
      background: #fff;
      border-radius: 0.2rem;
      font-size: 16px;
      width: 100%;
      &:focus {
        border-color: $primary;
        outline: none;
      }
    }
    button {
      position: absolute;
      top: 50%;
      right: 2px;
      height: calc(100% - 4px);
      transform: translateY(-50%);
      background: #e4e4e4;
      border: none;
      border-radius: 0.2rem;
      padding: 0.5em 1.3em;
      font-size: 0.8rem;
      font-weight: 700;
      &:hover {
        background: #cacaca;
      }
    }
  }
  .main-header-buttons {
    .btn {
      height: 50px;
      width: 50px;
      padding: 0;
      font-size: 19px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .dropdown-menu.dropdown-menu-center {
    left: 50% !important;
    top: calc(100% + 10px) !important;
    transform: translateX(-50%) !important;
  }
  .header-navigation {
    border-top: 1px solid #e4e4e4;
    ul {
      width: 100%;
      li {
        flex: 1;
        border-left: 1px solid #e4e4e4;
        &:last-child {
          border-right: 1px solid #e4e4e4;
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px;
          padding: 0 25px;
          white-space: nowrap;
          color: #484848;
          text-decoration: none;
          font-weight: 500;
          font-size: 0.875rem;
        }
      }
    }
  }
  @media (max-width: 992px) {
    .header-navigation {
      display: none;
    }
    .search-container {
      order: 99;
    }
    .main-header-buttons div {
      display: none;
      &:first-child {
        display: block;
      }
    }
  }
}
