<header>
  <div class="header-top">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <ul class="align-items-center d-flex nav pl-2 social-media">
            {{#socials}}
            <li class="nav-item">
              <a class="nav-link pe-0" href="{{href}}" target="_blank"
                ><i class="{{icon}}"></i>
              </a>
            </li>
            {{/socials}}
          </ul>
        </div>
        <div>
          <ul
            class="align-items-center d-flex flex-nowrap justify-content-end nav"
          >
            {{#topHeaderLink}}
            <li class="d-lg-block d-none nav-item">
              <a class="nav-link" href="/tr/shop">{{name}}</a>
            </li>
            {{/topHeaderLink}}
            <li class="d-lg-block d-none nav-item">
              <a class="font-weight-bold nav-link text-danger" href="/tr/yardim"
                >YARDIM MERKEZİ</a
              >
            </li>
            <li class="d-lg-block d-none nav-item">
              <a
                class="font-weight-bolder nav-link text-success"
                href="/tr/ilan-ekle"
                >İlan Ekle, Satıcı Ol
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div
      class="d-flex justify-content-between align-items-center flex-wrap py-3 gap-lg-5 gap-3"
    >
      <div class="logo">
        <a href="/tr"><img src="{{logo}}" alt="logo" /></a>
        <button class="btn ms-3 rounded-circle shadow-sm dark-mode">
          <i class="fas fa-cloud-moon"></i>
        </button>
        <button class="btn ms-2">
          <span class="align-items-center d-flex justify-content-center">
            <i class="fas fa-globe"></i>
          </span>
        </button>
      </div>
      <div class="search-container">
        <i class="search-icon fas fa-search"></i>
        <input type="text" class="form-control-lg" placeholder="Ara..." />
        <button class="btn rounded-0">Ara</button>
      </div>
      <div class="d-flex align-items-center main-header-buttons">
        <div class="position-relative">
          <button
            class="btn btn-lg rounded-circle border"
            id="user"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-user"></i>
          </button>
          <div
            class="dropdown-menu dropdown-menu-center"
            aria-labelledby="user"
          >
            Dropdown
          </div>
        </div>
        <div class="position-relative">
          <button
            class="btn btn-lg rounded-circle border"
            id="notification"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-bell"></i>
          </button>
          <div
            class="dropdown-menu dropdown-menu-center"
            aria-labelledby="notification"
          >
            Dropdown
          </div>
        </div>
        <div class="position-relative">
          <button
            class="btn btn-lg rounded-circle border"
            id="heart"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-heart"></i>
          </button>
          <div
            class="dropdown-menu dropdown-menu-center"
            aria-labelledby="heart"
          >
            Dropdown
          </div>
        </div>
        <div class="position-relative">
          <button
            class="btn btn-lg rounded-circle border"
            id="shopping-basket"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-shopping-basket"></i>
          </button>
          <div
            class="dropdown-menu dropdown-menu-center"
            aria-labelledby="shopping-basket"
          >
            Dropdown
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-navigation">
    <div class="container d-flex">
      <ul class="d-flex">
        {{#navigation}}
        <li class="flex-grow-1">
          <a href="{{href}}">{{name}}</a>
        </li>
        {{/navigation}}
      </ul>
    </div>
  </div>
</header>
