<header>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center header-top">
      <div>
        <ul class="align-items-center d-flex nav pl-2 social-media">
          {{#socials}}
          <li class="nav-item">
            <a class="nav-link pe-0" href="{{href}}" target="_blank"
              ><i class="{{icon}}"></i>
            </a>
          </li>
          {{/socials}}
        </ul>
      </div>
      <div>
        <ul
          class="align-items-center d-flex flex-nowrap justify-content-end nav"
        >
          {{#topHeaderLink}}
          <li class="d-lg-block d-none nav-item">
            <a class="nav-link" href="/tr/shop">{{name}}</a>
          </li>
          {{/topHeaderLink}}
          <li class="d-lg-block d-none nav-item">
            <a class="font-weight-bold nav-link text-bng-red" href="/tr/yardim"
              >YARDIM MERKEZİ</a
            >
          </li>
          <li class="d-lg-block d-none nav-item">
            <a
              class="font-weight-bolder nav-link text-bng-green"
              href="/tr/ilan-ekle"
              >İlan Ekle, Satıcı Ol
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
